<html>
  <head>
      <title>Duke Proxy Detection</title>
      <link rel="stylesheet" href="https://alertbar.oit.duke.edu/sites/all/themes/blackwell/css/alert.css" type="text/css" media="Screen" />
      <link rel="stylesheet" href="/static/css/proxy.css" type="text/css" media="Screen" />
  </head>
  <script src="https://alertbar.oit.duke.edu/alert.html" type="text/javascript"></script>

  <body style="margin: 0px">
    <div id="header" class="header">
        <div id="logo"><img src="/static/images/duke.png"></div>
    </div>
      {% if context['using_proxy'] %}
      <p>You are successfully configured for the DKU proxy.</p>
      {% else %}
      <p>You are NOT connected to the proxy.</p>
      <p>Your detected IP is {{ context['ip'] }}</p>
      <p>You can manually load the proxy config in to your browsers proxy settings by specifying the following url: http://proxy-dku.oit.duke.edu/wpad.dat</p>
      {% endif %}
  </body>

</html>
